.product-card {
  transition: transform .2s, box-shadow .2s;
  background: white;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.7rem 1.2rem rgba(0, 71, 171, 0.25);
}

.badge {
  font-size: 0.75rem;
  padding: 0.4rem 0.6rem;
}
